<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="wetickets.wescanapp.application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:name=".volley.BackendVolley">

    </application>

</manifest>
